<div class="flex flex-col space-y-2">
  <div
    class="flex flex-col p-5 rounded bg-gray-700 shadow-md w-full md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto text-center space-y-8 mt-2"
  >
    <h1 class="text-4xl text-white">Lista de Empleados</h1>
    <div
      class="grid grid-cols-7 gap-3 px-2 sm:px-0 text-white font-thin text-lg"
    >
      <span>Avatar</span>
      <span>Nombre</span>
      <span>Apellido</span>
      <span>Puesto</span>
      <span>Teléfono</span>
      <span>Remoto</span>
      <span>Acciones</span>
    </div>
    <ul class="flex flex-col p-2 rounded w-full text-center mt-4">
      <li
        *ngFor="let empleado of empleados"
        class="grid grid-cols-7 gap-1 sm:gap-2 items-center bg-gray-800 text-white rounded p-1 sm:p-2 text-xs sm:text-base"
      >
        <img
          src="https://api.multiavatar.com/Binx Bond.png"
          alt="Avatar de {{ empleado.nombre }}"
          class="w-10 h-10 rounded-full mx-auto"
        />
        <p>{{ empleado.nombre }}</p>
        <p>{{ empleado.apellido }}</p>
        <p>{{ empleado.puesto }}</p>
        <p>{{ empleado.telefono }}</p>
        <input
          type="checkbox"
          [checked]="empleado.remoto"
          (change)="desmarcaRemoto()"
          class="mx-auto"
        />
        <button
          class="bg-red-500 p-2 rounded text-white hover:bg-red-700"
          (click)="deleteEmpleado(empleado.id)"
        >
          Eliminar
        </button>
      </li>
    </ul>
  </div>
</div>
